<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {$title} </title>
     <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-dark">
            <div class="container-fluid">
                {if $thereIsNavbar}
                   <a class="navbar-brand text-light" href="/admin/home/clients">Painel Admin.</a>
                   <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                   <span class="navbar-toggler-icon"></span>
                </button>
                <div n:if="$thereIsNavbar" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Profile</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <form action="/admin/Image/update/{$admin->id}" method="post" enctype="multipart/form-data">
                        <div class="d-flex flex-column align-items-center">
                            <label for="file" class="form-label">
                                {if $admin->photo}
                                    <img src="{$admin->photo}" class="rounded-circle w-100 p-2" alt="Image of your profile" id="image-profile">
                                {else}
                                    <span class="fw-bold p-4"> No image selected, Do you want add a photo? </span>
                                {/if}
                            </label>
                            <input class="form-control" name="file" type="file" id="file" hidden accept="image/jpeg, image/png, image/jpg">
                            <button type="submit" class="btn btn-light btn-outline-dark" id="change-photo"> Change photo </button>
                        </div>
                    </form>
                    <div class="offcanvas-body mt-2">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <p class="fw-bold"> 
                                    Name: {$admin->name} -
                                    <i class="fa-solid fa-pen-to-square fs-5"></i>
                                </p>
                            </li>
                            <li class="nav-item">
                                <p class="fw-bold" type="submit"> E-mail: {$admin->email} </p>
                            </li>       
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fw-bold text-dark"> Actions </span>
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item link-dark" href="/admin/home/create">Register new admin</a></li>
                                    <li><a class="dropdown-item" href="#">Redefine password</a></li>
                                </ul>
                            </li>
                            <a href="/login/destroy" class="btn btn-outline-danger mt-4" type="submit">Logout</a>
                        </ul>
                    </div>
                </div>
                {else}
                    <a class="navbar-brand" href="/admin/home/clients">
                        <i class="fa-solid fa-arrow-left-long text-light link-warning"></i>
                    </a>
                {/if}
            </div>
        </nav>
    </header>
    <main n:class="$existClassInMain ? main-specify">
        {block main}{/block}
    </main>
    <script src="https://kit.fontawesome.com/a274ff346d.js" crossorigin="anonymous"></script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/app.js"></script>
</body>

</html>