@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: calc(100vh - 3.5rem);
}

.main-specify {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-admin {
    height: calc(100vh - 3.5rem);
}

#image-home {
    max-height: calc(100vh - 5.5rem);
} 

/* Services */

#service-card {
    width: 18rem;
    transition: 0.25s;
    box-shadow:  inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#service-card:hover{ 
    transform: scale(105%);
}

/* End services */

/* Contact */

#map {
    height: 20rem;
}

#contact {
    width: 40rem;
}

textarea {
    resize: none;
}

/* End contact */

/* Page not found */

.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #fff;
}

h1.title-error {
    font-size: 3rem;
}

span.text-error {
    font-size: 1.25rem;
    color: black;
}

/* End page not found */

/* Autocomplete */

#autocomplete {
    background-color: white;
    border: solid 1px #333;
    position: absolute;
    margin-top: -25px;
    height: 150px;
    overflow: scroll;
    width: 50%;
  }
  
  #autocomplete ul {
    list-style: none;
    padding: 2px;
  }
  
  #autocomplete ul li {
   border-bottom: solid 1px #333;
  }
  
  #autocomplete ul li:hover {
    background-color: beige;
    cursor: pointer;
  }
  
  #autocomplete ul li a {
    text-decoration: none;
    color: blue;
  }
  
  #autocomplete #notfound {
    color: blue;
  }

/* End auto complete */